HOST=127.0.0.1:6060
FRONTEND=http://localhost:5173

TELEGRAM_BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN>

CERT=<PATH_TO_YOUR_CERT>
KEY=<PATH_TO_YOUR_CERT_KEY>

EXPDIR=<PATH_TO_EXPOSING_FOLDER>
SEARCH_RESULT_COUNT=<COUNT_OF_MAX_SEARCH_RESULTS>
RESULT_COUNT=<COUNT_OF_MAX_FILES_AND_RULES_RESULTS>
UPLOAD_LIMIT=<UPLOAD_LIMIT_IN_BYTES>